html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #cccccc;
    background-image: url('img/space.jpg');
}
h1{
    color: white;
}